@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
html,
body,
.jarallax {
  height: 75%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f5f5f5
}

.light-color{
    background-color:#f5f5f5 !important; 
}
.text-grey{
    color: #333333 !important;
}

.navbar-nav>.nav-item{
    padding:18px 0px;
}
.navbar-nav>.nav-item.active{
    padding:13px 0px;
    border-top: 5px solid #207eed;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-item.active>a{
 color: #207eed !important;
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 700;
}

.nav-item>a{
    font-weight: 500 ;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}
@media (min-width: 1200px)
{.banner-heading.h1-responsive {
    font-size: 355%;
}}
.banner-heading{
    font-family: 'Poppins', sans-serif !important;
    font-weight:800 !important;
}
.banner-heading.h1-responsive>span{
    color: #207eed
}

.banner-leading-text{
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
    font-weight:400 !important;
    font-size: 20px;
}
.text-blue{
    color: #207eed !important;
}
.searchbar{
    background-color: #fff;
    border-radius: 25px;
    position: relative;
}
.banner-btn{
    
    position: absolute;
    z-index: 7;
    right: 0%;
    top: 4.3%;
   
    
    background-color: transparent;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
 
}
.banner-input{
    border-radius: 23px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    z-index: 6;
    padding-right: 6%;
}
.quotes-text{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300 !important;
    text-transform: lowercase !important;
}
.quotes-heading{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}
.badge-pill.icon{
    font-size:14px !important;
}        
.badge-pill.badge-light{
    font-family: 'Open Sans', sans-serif !important;
    font-weight:400 !important;
    font-size:10px !important;
}

.right-side-card-heading{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    font-size: 16pt !important;
}
.card{
    border-radius: 10px;
}
.bg-info{
    background-color:#207eed !important;
}
.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.toggle-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
}
.list-group-flush>.list-group-item{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7a7a7a;
}
.toggle-heading>i{
    color: #ff5d5d;
}
.md-accordion>.card>.card-header {
    padding: .75rem 0rem;
    
}
.navbar.navbar-dark .navbar-toggler-icon {
    cursor: pointer;
    background-image: url(../img/toggler-icon.svg);
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1367px){
.container.main-container {
    max-width: 1280px;
} }
@media (min-width: 1400px)
{.container-xxl {
    max-width: 1320px;
}
}

.col, .col-1, .col-10, .col-11, 
.col-12, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8, 
.col-9, .col-auto, .col-lg, .col-lg-1, 
.col-lg-10, .col-lg-11, .col-lg-12, 
.col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-lg-auto,
 .col-md, .col-md-1, .col-md-10, 
 .col-md-11, .col-md-12, .col-md-2, 
 .col-md-3, .col-md-4, .col-md-5, 
 .col-md-6, .col-md-7, .col-md-8, 
 .col-md-9, .col-md-auto, .col-sm, 
 .col-sm-1, .col-sm-10, .col-sm-11,
  .col-sm-12, .col-sm-2, .col-sm-3, 
  .col-sm-4, .col-sm-5, .col-sm-6, 
  .col-sm-7, .col-sm-8, .col-sm-9, 
  .col-sm-auto, .col-xl, .col-xl-1, 
  .col-xl-10, .col-xl-11, .col-xl-12, 
  .col-xl-2, .col-xl-3, .col-xl-4, 
  .col-xl-5, .col-xl-6, .col-xl-7, 
  .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    padding-right: 8px;
    padding-left: 8px;
}
.badge-light{
    background-color: #ebeaea !important;
    color: #999999 !important;
}
.card {
  
    border-radius: .4rem !important;}
    .card-footer:last-child {
        border-bottom-left-radius: 0.4rem !important;
        border-bottom-right-radius: 0.4rem !important;
        border-color: transparent;
    }

    .modal-fullscreen-lg-down>.modal-content>.modal-header{
        background-color: #207EED
    }
    .modal-fullscreen-lg-down>.modal-content>.modal-header>.btn-close {
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: .25em .25em;
        color: #fff;
        background: transparent url(../img/times.svg) center/1em auto no-repeat;
        border: 0;
        border-radius: .25rem;
        opacity: .5;
    }
.border-blue{
    border: 1px solid #fff;
}
.mobile_menu a{
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
}
.mobile_menu .list-group-item:last-child{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.mobile_menu i{
    color: #207eed;
}
.viewall{
    font-weight: 500;
    color: #207eed !important;
}
.nav-pills>.nav-item>a{
    background-color: #c7c7c7;
     color: #fff;
     border-radius: 0;
}
.quotes-card .card>.card-body{
    border-top-left-radius: .40rem;
    border-top-right-radius: 0.40rem;
}
.nav-pills>.nav-item:last-child>a{
   border-top-right-radius: .40rem;
   border-bottom-right-radius: .40rem;
}
.nav-pills>.nav-item:first-child>a{
    border-top-left-radius: .40rem;
    border-bottom-left-radius: .40rem;
 }
 .nav-pills>.nav-item:not(:first-child)>a{
     margin-left: -1px;
 }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #207eed !important;
}
body.modal-open .fixed-top {
    padding-right: 0 !important;
}
.btn-primary{
    background-color: #207eed !important;
}

.bg-dark.footer{
    background-color: #333333 !important;
}
.bg-dark.footer>.second-body{
    min-height:50px;
    background-color: #2d2d2d !important;
}
.second-body>p{
    color: #838383 !important;
    font-size:16pt;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300 !important;
}

.about{
    color: #cccccc !important;
    font-size:10pt;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300 !important;
}
.footer-links,.footer-social-links{
    padding-left: 2rem !important;
}
.footer-links-heading, .footer-socials-heading{
    margin:0;
    color: #fff;
    font-size:24pt;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;

}
.footer-socials-heading{
    margin-left:-16px !important;
}
.footer-links-heading:not(:first-child){
    margin-left:16px !important;
}
.footer-links>li,.footer-social-links>li{

    padding:5px 0px;
    position: relative;
}
.footer-links>li>a, .footer-social-links>li>a{
    color: #cccccc !important;
    font-size:10pt;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300 !important;
}
.footer-links>li:before {
    content: "";
    position: absolute;
    background-image: url(../img/chevron-double-right.svg);
    width: 10px;
    height: 100%;
    background-repeat: no-repeat;
    left: -17px;
    top: 13.3px;
}
@media (min-width:0px) and (max-width:575px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {

        padding-right: 2.75rem;
        padding-left: 2.75rem;
    }
}

@media (max-width:1200px){
    .footer-socials-heading{
        margin-left:0px !important;
    }
    .footer-social-links{
        padding-left: 1rem !important;
    }
}
@media (max-width: 991.98px){
.modal-fullscreen-lg-down {
    width: 40vw;
    max-width: none;
    height: 100%;
    margin: 0;
} 
#Loginmodal .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: auto;
} 

}
@media  (min-width: 600.99px) and (max-width:767.98px){
    .modal-fullscreen-lg-down {
        width: 50vw;
        max-width: none;
        height: 100%;
        margin: 0;
    } 
    
    .second-body>p {
        font-size: 10pt;
    }
}

@media (max-width: 600.98px){
    .modal-fullscreen-lg-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    } 
 
    .second-body>p {
        font-size: 10pt;
        padding: 0px 30px;
    text-align: center;
    }
    .first-body img {
        height: 55px;
    }

}

@media (max-width:300px){
    .right-side-card-heading{
        font-size: 19px !important;
    }
    .navbar-brand>img{
        height: 27px;
    }
    .first-body img {
        height: 39px;
    }
    
}    

@media (max-width:480px){
    .h1-responsive {
        font-size: 116%;
    }
    .banner-leading-text {
        font-size: 14px;
    }
}